
<h1>NFL Teams</h1>
  <article class="container">
    <% @teams.each do |team| %>
      <p class="team"><a href="/teams/<%= team.id %>"><%= team.name %></a></p>
      <p>Wins: <%= team.wins %>
      <p>Losses: <%= team.losses %>
      <p>Ties: <%= team.ties %>
      <p>Rank: <%= team.rank %>
      <p>Won a Super Bowl: <%= team.super_bowl %>
      <p class="last">Start Date: <%= team.year_started %>
    <% end %>
  </article>
   
