
<h1 class="nfl-hdr">NFL Teams</h1>
  <article class="container">
    <% @teams.each do |team| %>
      <p class="team"><a href="/teams/<%= team.id %>"><%= team.name %></a><span style="margin-left: 10px" class="link"><%= link_to "Edit", "/teams/#{team.id}/edit", method: :get %></span></p>
      <p>Wins: <%= team.wins %>
      <p>Losses: <%= team.losses %>
      <p>Ties: <%= team.ties %>
      <p>Rank: <%= team.rank %>
      <p>Won a Super Bowl: <%= team.super_bowl %>
      <p>Start Date: <%= team.year_started %>
      <p><%= button_to "Delete Team", "/teams/#{team.id}", method: :delete %></p>
    <% end %>
  </article>
   
