<%= form_with url: "/divisions/#{@division.id}", method: :patch, data: { turbo: false } do |form| %>
<%= form.label :name %>
<%= form.text_field :name, :size => "45", :value => @division.name %>
<%= form.label :conference %>
<%= form.text_field :conference, :value => @division.conference %>
<%=  form.label :SB_winner %>
<span class="parenth">(past five years)</span>
<%= form.text_field :sb_five, :size => "8", :value => @division.sb_five %>
<%= form.submit 'Update', :class => "submit" %>
<% end %>