
  <%= form_with url: "/divisions", method: :post, data: { turbo: false } do |form| %>
<div style="margin-top: 30px">
  <%= form.label :name %>
  <span class="link-edit"><%= form.text_field :name, :size => "45" %></span>
  <%= form.label :conference %>
  <span class="link-edit"><%= form.text_field :conference %></span>
  <%=  form.label :SB_winner %>
  <span class="parenth">(past five years)</span>
  <span class="link-edit"><%= form.text_field :sb_five, :size => "8" %></span>
  <span class="link-edit"><%= form.submit 'Submit', :class => "submit" %></span>
  <% end %>
</div>